# MAPBOX API KEY
REACT_APP_MAPBOX_TOKEN = 
REACT_APP_INFORM_RISK_API_URL = https://drmkc.jrc.ec.europa.eu/Inform-Index/API/
REACT_APP_INFORM_RISK_INDICATORS = HA,VU,CC,INFORM,CC.DRR.ORG.NO,CC.FES.FIN,CC.FES.INC,CC.FES.INS,CC.INF.AHC,CC.INF.COM,CC.INF.PHY,CC.INF.PRV,CC.INF.PUB,CC.INF.SOC,CC.INS.DRR,CC.INS.GOV,CC.MNG.ENVR.XD,CC.MNG.MUNI.XD,HA.EPI.FWB,HA.EPI.P2P,HA.EPI.VECT,HA.EPI.ZOON,HA.HUM.CON,HA.HUM.GCRI,HA.HUM.IV,HA.HUM.PV,HA.NAT.ASI,HA.NAT.EQ,HA.NAT.FF,HA.NAT.FL,HA.NAT.FP,HA.NAT.LD,HA.NAT.LS,HA.NAT.TS,HA.NAT.WS,VU.SEV.AD,VU.SEV.IN,VU.SEV.PD,VU.VGR.OG,VU.VGR.OG.FS,VU.VGR.OG.HE,VU.VGR.OG.MN,VU.VGR.OG.NATDIS-REL,VU.VGR.OG.U5,VU.VGR.UP